@import '~antd/es/style/themes/default.less';

.main {
  width: 368px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }
}

.submit {
  width: 100%;
  margin-top: 24px;
}

.tab {
  margin-bottom: 24px;
  text-align: center;
  border-bottom: 0;
}

.input {
  margin-top: 24px;
  line-height: 22px;
  text-align: left;
}
